/*Check the dev to colors*/
:root{
    --base: #08090a;
    --base-a90: rgba(8, 9, 10, 0.9);
    --base-a80: rgba(8, 9, 10, 0.8);
    --base-a70: rgba(8, 9, 10, 0.7);
    --base-a60: rgba(8, 9, 10, 0.6);
    --base-a50: rgba(8, 9, 10, 0.5);
    --base-a40: rgba(8, 9, 10, 0.4);
    --base-a30: rgba(8, 9, 10, 0.3);
    --base-a20: rgba(8, 9, 10, 0.2);
    --base-a10: rgba(8, 9, 10, 0.1);
    --base-a5: rgba(8, 9, 10, 0.05);
    --base-100: var(--base);
    --base-90: #202428;
    --base-80: #363d44;
    --base-70: #4d5760;
    --base-60: #64707d;
    --base-50: #7d8a97;
    --base-40: #99a3ad;
    --base-30: #b5bdc4;
    --base-20: #d2d6db;
    --base-10: #eef0f1;
    --base-0: #f9fafa;

    --primary-color: #123;
    --secondary-color: #213;
    --aditional-color: #234; 
    --text-color: #412;
    --extra-color: #121;
    --main-bg-color: #134;

    --accent-brand: #3b49df;
    --accent-brand-darker: #1827ce;
    --accent-brand-lighter: #8d95f2;
    --accent-brand-a10: rgba(59, 73, 223, 0.1);
    --accent-success: #26d9ca;
    --accent-success-darker: #1ab3a6;
    --accent-success-lighter: #79ece2;
    --accent-success-a10: rgba(38, 217, 202, 0.1);
    --accent-warning: #ffcf4c;
    --accent-warning-darker: #f5b400;
    --accent-warning-lighter: #ffe499;
    --accent-warning-a10: rgba(255, 207, 76, 0.1);
    --accent-danger: #dc1818;
    --accent-danger-darker: #c20a0a;
    --accent-danger-lighter: #ec5050;
    
    --titles-text-color: #111;
}

:root{
    --header-height: 56px;
    --site-width: 1280px;
    --su-1: 0.25rem;
    --su-2: 0.5rem;
    --su-3: 0.75rem;
    --su-4: 1rem;
    --su-5: 1.25rem;
    --su-6: 1.5rem;
    --su-7: 2rem;
    --su-8: 3rem;
    --su-9: 4rem;
    --su-10: 8rem;
    --radius: 5px;
    --transition-func: cubic-bezier(0.17, 0.67, 0.5, 0.71);
    --transition-time: 100ms;
    --transition-props: var(--transition-func) var(--transition-time);
    --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --ff-monospace: 'SF Mono', SFMono-Regular, Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    --ff-serif: Palatino, 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', Georgia, serif;
    --ff-comic: 'Comic Sans MS', cursive, sans-serif;
    --ff-dyslexic: OpenDyslexic, sans-serif;
    --fs-xs: 0.75rem;
    --fs-s: 0.875rem;
    --fs-base: 1rem;
    --fs-l: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 1.875rem;
    --fs-4xl: 2.25rem;
    --fs-5xl: 3rem;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-heavy: 800;
    --lh-tight: 1.25;
    --lh-base: 1.5;
    --z-negative: -1;
    --z-elevate: 1;
    --z-sticky: 100;
    --z-drawer: 200;
    --z-modal: 300;
    --z-dropdown: 400;
    --z-popover: 500;

    --content-rythm: var(--su-4);
    --content-font-size: var(--fs-xl);
    --content-secondary-font-size: var(--fs-base);
    --content-tertiary-font-size: var(--fs-base);
}

.text-styles {
    font-size: var(--content-font-size);
    font-family: var(--content-font-family);
    overflow-wrap: break-word;
}

.row {
    display: flex;
    flex-direction: row;
}

@media (min-width: 1600px){
.container {
    max-width: 1360px;
}}
@media (min-width: 1200px) and (max-width: 1600px){
.container {
    max-width: 1140px;
}}
@media (min-width: 992px) and (max-width: 1140px){
.container {
    max-width: 960px;
}}
@media (min-width: 768px) and (max-width: 992px){
.container {
    max-width: 720px;
}}
@media (min-width: 576px) and (max-width: 768px){
.container {
    max-width: 540px;
}}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }